@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
/************************************/
/* NAVIGATION BAR AND HEADER SECTION */
/************************************/

.logo {
  float: left;
  margin: 0;
}

.navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #9BBEC4;
  height: 70px;
  width: 100%;
  text-align:center;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
  float: right;
}

.navigation-bar li a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
  text-align: right;
}

/************************************/
/* LINKS */
/************************************/

.navigation-bar li a:hover {
    background-color: #c98f8f;
}

a:hover {
    background-color: #c98f8f;
}

a:visited {
  color: #000000
}

a:link {
  color: #000000;
  text-decoration: none;
}

/************************************/
/* MAIN BODY SECTION - INDEX.HTML */
/************************************/

body {
  margin: 0;
  padding: 0;
  font-family: Shadows Into Light;
}

div {
  float: left;
  padding: 0;
  margin: 0;
  width: 65%;
}

div img {
  width: 22%;
}

.front-header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 150px;
  background-color: #C98F8F;
  font-size: 1em;
}

.post-content img {
  width: 20%;
  border-radius: 5em;
}
/************************************/
/* MAIN BODY SECTION - ARTICLES */
/************************************/

.post-body {
  float: right;
  width: 92%;
}

.big-header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 220px;
  background-color: #C98F8F;
  text-align: center;
  font-size: 1em;
}

.image-head {
  width: 100%;
  height: auto;
}

/************************************/
/* MAIN BODY SECTIONS - PROFILES */
/************************************/

.image-header {
  width: auto;
  height: 50%;
  padding: .06%;
  border-radius: 5em/5em;
}

.catpage-header {
  text-align: center;
  padding: 0;
  margin: 0;
}

section img {
  padding: 5%;
  height: 200px;
}

.profile-page-format article {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.profile-page-format {
  text-align: center;
}

.profile-header {
  text-align: left;
}


/************************************/
/* ASIDE IN INDEX.HTML */
/************************************/

aside {
  float: right;
  width: 20%;
  background-color: #c98f8f;
}

#top-cats img {
  border-radius: 5em/5em;
}

/************************************/
/* ASIDES IN ARTICLES*/
/************************************/

.aside-social {
  float: left;
  width: 7%;
}

aside img {
  height: auto;
  width: 40%;
}

/************************************/
/* FOOTER */
/************************************/

footer {
  clear: both;
}

footer div {
  width: 33%;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  height: 170px;
}
